<nav>
  <div class="wrap">
    <a href="/index.html" class="logo">
      <span class="letters">
        <span class="demian">></span>
        <span class="tatay">t</span>
      </span>
    </a>
  </div>
</nav>
