// =Variables
// --------------------------------------------------------------------------

// =Font size
// ------------------------------------------------------
$global-max-width: 1168px !default;
$global-medium-width: 800px !default;
$global-font-size-px: 16px !default;
$global-gutter: 20px !default;
$global-font-size: 100%;
$global-line-height: 1.5;
$global-units: rem;
$grid-columns: 12 !default;


// =Color
// --------------------------------------------------------------------------
$c-dt: #d622a4;
$c-dt-black: #2f2f2f;

$c-runroom: #8d25c2;
$c-deiser: #df0084;
$c-deiser2:#81519d;
$c-otogami: #e2259f;
$c-runnics: #2fbb19;

$c-white: #fff;
$c-black: #212121;
$c-yellow: #f5a623;
$c-blue: #0D2C54;

$c-mainLight: #ff183b;
$c-main: #bd2831;
$c-mainDark: #8c1313;

$c-neutroLightest:  #fff;
$c-neutroLighter:   #f9f9f9;
$c-neutroLight:     #f3f3f3;
$c-neutro:          #ccc;
$c-neutroDark:      #999;
$c-neutroDarker:    #666;
$c-neutroDarkest:   #333;


// Here we define the lower and upper bounds for each media size
$xsmall-range:  0, 30rem;           /* 0, 480px */
$small-range:   30.063rem, 40rem;   /* 481px, 640px */
$xmedium-range: 40.063rem, 48rem;   /* 641px, 768px */
$medium-range:  48.063rem, 64rem;   /* 769px, 1024px */
$large-range:   64.063rem, 90rem;   /* 1025px, 1440px */
$xlarge-range:  90.063rem, 120rem;  /* 1441px, 1920px */
$xxlarge-range: 120.063rem;         /* 1921px */

// Media Queries
$screen: "only screen" !default;

$landscape: "#{$screen} and (orientation: landscape)" !default;
$portrait: "#{$screen} and (orientation: portrait)" !default;

$xsmall-up: $screen !default;
$xsmall-only: "#{$screen} and (max-width: #{nth($xsmall-range, 2)})" !default;

$small-up: "#{$screen} and (min-width:#{nth($small-range, 1)})" !default;
$small-only: "#{$screen} and (min-width:#{nth($small-range, 1)}) and (max-width:#{nth($small-range, 2)})" !default;

$xmedium-up: "#{$screen} and (min-width:#{nth($xmedium-range, 1)})" !default;
$xmedium-only: "#{$screen} and (min-width:#{nth($xmedium-range, 1)}) and (max-width:#{nth($xmedium-range, 2)})" !default;

$medium-up: "#{$screen} and (min-width:#{nth($medium-range, 1)})" !default;
$medium-only: "#{$screen} and (min-width:#{nth($medium-range, 1)}) and (max-width:#{nth($medium-range, 2)})" !default;

$large-up: "#{$screen} and (min-width:#{nth($large-range, 1)})" !default;
$large-only: "#{$screen} and (min-width:#{nth($large-range, 1)}) and (max-width:#{nth($large-range, 2)})" !default;

$xlarge-up: "#{$screen} and (min-width:#{nth($xlarge-range, 1)})" !default;
$xlarge-only: "#{$screen} and (min-width:#{nth($xlarge-range, 1)}) and (max-width:#{nth($xlarge-range, 2)})" !default;

$xxlarge-up: "#{$screen} and (min-width:#{nth($xxlarge-range, 1)})" !default;

$retina: (
    "#{$screen} and (-webkit-min-device-pixel-ratio: 2)",
    "#{$screen} and (min--moz-device-pixel-ratio: 2)",
    "#{$screen} and (-o-min-device-pixel-ratio: 2/1)",
    "#{$screen} and (min-device-pixel-ratio: 2)",
    "#{$screen} and (min-resolution: 192dpi)",
    "#{$screen} and (min-resolution: 2dppx)"
);
