@keyframes changeColor {
  0% { color: #d622a4 }
  50% { color: #a2a2a2 }
  100% { color: #d622a4 }
}

@keyframes fadeinleft {
  0% {
    transform: translateX(-5px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeintop {
  0% {
    transform: translateY(-5px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeinbottom {
  0% {
    transform: translateY(5px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



.fade {
  opacity: 0;

  &.fadein {
    opacity: 0;

    &.active {
      animation: fadein 1.2s ease forwards;
    }
  }


  &.fadeinleft {
    transform: translateX(-5px);

    &.active {
      animation: fadeinleft 1.2s ease forwards;
    }
  }

  &.fadeintop {
    transform: translateY(-5px);

    &.active {
      animation: fadeintop 1.2s ease forwards;
    }
  }

  &.fadeinbottom {
    transform: translateY(5px);

    &.active {
      animation: fadeinbottom 1.2s ease forwards;
    }
  }
}



@keyframes rotate-animation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes anti-rotate-animation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}
