/* =HELPERS
/* -------------------------------------------------------------------------- */
// =Layout
// ------------------------------------------------------
.u-clearfix {
    @include clearfix;
}
.u-verticalAlign {
    @include verticalAlign;
}
.u-wrapper {
    @include wrapper;
}

// =Hide stuff
// ------------------------------------------------------
.u-hideText {
    @include hideText;
}
.u-hidden {
    display: none;
    visibility: hidden;
}
.u-hide {
    display: none;
}
.u-visuallyHidden {
    @include visuallyHidden;
}

// =Debug
// ------------------------------------------------------
.u-debug {
    background: lime;
    padding: 20px;
    outline: 1px solid lime !important;
    color: black;
}
