{% extends 'files/includes/base.twig' %}

{% block content %}
<article class="page gallery">
  <section class="gallery works">
    <div class="work runroom">
      <a href="#">
        <div class="inner">
          <h2>Runroom</h2>
          <p>Digital Agency</p>
        </div>
      </a>

    </div>
    <div class="work otogami">
      <a href="#">
        <div class="inner">
          <h2>Otogami</h2>
          <p>Videogame search engine</p>
        </div>
      </a>
    </div>

    <div class="work runnics">
      <a href="#">
        <div class="inner">
          <h2>Runnics</h2>
          <p>Running specialized ecommerce</p>
        </div>
      </a>

    </div>
    <div class="work deiser">
      <a href="#">
        <div class="inner">
          <h2>Deiser</h2>
          <p>Platinum Atlassian Expert</p>
        </div>
      </a>
    </div>
  </section>
</article>

{% endblock %}
