<section class="about about-scene">
  <div class="wrap">

    <p class="t-p fade fadeinleft">Very happy to have been part of teams such as Digital Agency <a class="link" href="https://www.runroom.com">Runroom</a>, Atlassian plugin developer <a class="link" href="https://www.deiser.es">Deiser</a>, online interior design <a class="link" href="https://homewings.co.uk/">Homewings</a> and currently at <a class="link" href="https://teamcmp.com/">TeamCMP</a> working for projects in the VR adult industry like <a class="link" href="https://www.vrcosplayx.com">VRCosplayX</a> or <a href="https://www.badoinkvr.com" class="link">BadoinkVR</a> both in UI/UX design and development processes.</p>

    <p class="t-p fade fadeinleft">I am passionate for creativity at any level and specialy for learning new [any]things. The nexus of design and web development is my profession && what I ❤️ which is a privilege. In my free time I like to play guitar, drums && sing. Recently started working in small projects as a voice actor in shortfilms. I just love to do, create and learn. At the end of the day “The more I learn, the more I realize how much I don't know.”</p>

    <p class="t-p fade fadeinleft">Currently <span>available</span> and working also in freelance projects. <br>If you want a new project, a collaboration or to have a chat, shoot me an email to <a class="link" href="mailto:demianpt@gmail.com">demianpt[at]gmail.com</a>
    </p>

    <a class="btn fade fadeinleft" href="assets/images/DemianTatayCV.pdf"><span>Download my CV</span></a>
  </div>
</section>
