<section class="clients">
  <div class="wrap">
    <ul class="logos fade fadein">
      <li class="logo">{% include '../../../assets/images/deiser-logo.svg' %}</li>
      <li class="logo">{% include '../../../assets/images/runnics-logo.svg' %}</li>
      <li class="logo">{% include '../../../assets/images/otogami-logo.svg' %}</li>
      <li class="logo">{% include '../../../assets/images/hsjd-logo.svg' %}</li>
      <li class="logo">{% include '../../../assets/images/mesoestetic-logo.svg' %}</li>
      <li class="logo">{% include '../../../assets/images/eroski-logo.svg' %}</li>
      <li class="logo">{% include '../../../assets/images/runroom-logo.svg' %}</li>
      <li class="logo">{% include '../../../assets/images/esade-logo.svg' %}</li>
    </ul>
  </div>
</section>
