<section class="intro">
  <!-- <canvas id="scene"></canvas> -->
  <div class="wrap">
    <h2 class="description without">Hi there :) I´m</span></h2>
    <h1>Demian <span>Tatay</span></h1>
    <h2 class="description">a Frontend Developer & <span class="uiux">UI-UX Designer</span> based in Barcelona</h2>
    <ul class="social-list">

      <li class="social-item behance">
        <a href="https://www.behance.net/demianpt">{% include '../../../assets/images/behance.svg' %}</a>
      </li>
      <li class="social-item linkedin">
        <a href="http://www.linkedin.com/in/demianpt/en">{% include '../../../assets/images/linkedin.svg' %}</a>
      </li>
      <li class="social-item codepen">
        <a href="http://www.codepen.io/demianpt">{% include '../../../assets/images/codepen.svg' %}</a>
      </li>
    </ul>
  </div>

</section>
