<section class="latest">
  <div class="wrap">
    <h2 class="fade fadein">Latest Projects</h2>
    <div class="works">
      <!--Mesoestetic-->
      <div class="work meso">
        <div class="image col meso-scene" data-relative-input="true">
          <img data-depth="0.1" src="assets/images/meso-work/meso1.png" alt="">
          <img data-depth="0.22" src="assets/images/meso-work/meso2.png" alt="">
          <img data-depth="0.25" src="assets/images/meso-work/meso3.png" alt="">
          <img data-depth="0.28" src="assets/images/meso-work/meso4.png" alt="">
          <img data-depth="0.12" src="assets/images/meso-work/meso5.png" alt="">
          <img data-depth="0.1" src="assets/images/meso-work/meso6.png" alt="">
          <img data-depth="0.3" src="assets/images/meso-work/meso7.png" alt="">
          <img data-depth="0.45" src="assets/images/meso-work/meso8.png" alt="">
          <img data-depth="0.2" src="assets/images/meso-work/meso9.png" alt="">
          <img data-depth="0.45" src="assets/images/meso-work/meso10.png" alt="">
          <img data-depth="0.34" src="assets/images/meso-work/meso11.png" alt="">
          <img data-depth="0.32" src="assets/images/meso-work/meso12.png" alt="">
          <img data-depth="0.4" src="assets/images/meso-work/meso13.png" alt="">
          <img data-depth="0.45" src="assets/images/meso-work/meso14.png" alt="">
        </div>

        <div class="info col">
          <h3 class="fade fadeintop">Mesoestetic</h3>
          <div class="fade fadeinleft">
            <ul class="list">
              <li><b>Agency:</b> Runroom</li>
              <li><b>Year:</b> 2017</li>
            </ul>
            <ul class="tags">
              <li>Drupal8</li>
              <li>Twig</li>
              <li>Js</li>
              <li>Html5</li>
              <li>Css3</li>
              <li>AI</li>
              <li>PS</li>
              <li>Sketch</li>
            </ul>
            <p>Multinational pharmaceutical company specializing in the development, manufacture and marketing of topical medicines, medical devices, medical-aesthetic, cosmeceutical and nutricutical equipment.</p>
          </div>
          <a class="btn fade fadeinbottom" href="http://www.mesoestetic.com"><span>Visit site</span></a>
        </div>
      </div>
      <!--SJD-->
      <div class="work sjd">
        <div class="info col">
          <h3 class="fade fadeintop">Hospital Sant Joan de Deu</h3>
          <div class="fade fadeinleft">
            <ul class="list">
              <li><b>Agency:</b> Runroom</li>
              <li><b>Year:</b> 2016</li>
            </ul>
            <ul class="tags">
              <li>Drupal7</li>
              <li>Twig</li>
              <li>Js</li>
              <li>Html5</li>
              <li>Css3</li>
              <li>AI</li>
              <li>PS</li>
              <li>Sketch</li>
            </ul>
            <p>Hospital Sant Joan de Déu is a private non-profit institution. Manages more than 300 health centers in 50 countries around the world and provides care to the most vulnerable groups.</p>
          </div>
          <a class="btn fade fadeinbottom" href="http://www.sjdhospitalbarcelona.org"><span>Visit site</span></a>
        </div>

        <div class="image col hsjd-scene" data-relative-input="true">
          <img data-depth="0.35" src="assets/images/hsjd-work/hsjd5.png" alt="">
          <img data-depth="0.15" src="assets/images/hsjd-work/hsjd1.png" alt="">
          <img data-depth="0.2" src="assets/images/hsjd-work/hsjd2.png" alt="">
          <img data-depth="0.25" src="assets/images/hsjd-work/hsjd3.png" alt="">
          <img data-depth="0.35" src="assets/images/hsjd-work/hsjd4.png" alt="">
          <img data-depth="0.3" src="assets/images/hsjd-work/hsjd6.png" alt="">
          <img data-depth="0.4" src="assets/images/hsjd-work/hsjd7.png" alt="">
        </div>
      </div>
      <!--Capside-->
      <div class="work capside">
        <div class="image col capside-scene" data-relative-input="true">
          <img data-depth="0.075" src="assets/images/capside-work/capside3.png" alt="">
          <img data-depth="0.05" src="assets/images/capside-work/capside5.png" alt="">
          <img data-depth="0.30" src="assets/images/capside-work/capside2.png" alt="">
          <img data-depth="0.25" src="assets/images/capside-work/capside6.png" alt="">
          <img data-depth="0.15" src="assets/images/capside-work/capside4.png" alt="">
          <img data-depth="0.125" src="assets/images/capside-work/capside1.png" alt="">
        </div>

        <div class="info col">
          <h3 class="fade fadeintop">Capside</h3>
          <div class="fade fadeinleft">
            <ul class="list">
              <li><b>Agency:</b> Runroom</li>
              <li><b>Year:</b> 2016</li>
            </ul>
            <ul class="tags">
              <li>Wordpress</li>
              <li>Php</li>
              <li>Js</li>
              <li>Html5</li>
              <li>Css3</li>
              <li>AI</li>
              <li>PS</li>
              <li>Sketch</li>
            </ul>
            <p>Capside designs highly-efficient, autoscaling & reliable cloud architectures & Cloud tools for SysOps & DevOps leading companies into Digital Transformation.</p>
          </div>
          <a class="btn fade fadeinbottom" href="http://www.capside.com"><span>Visit site</span></a>
        </div>
      </div>
  </div>
</section>
